.first-section {
  display: flex;
  margin-top: 3vw;
}

.first-section div {
  flex: 1;
}

.an-img-p {
  position: relative;
  width: 30%;
}

.an-img-s {
  position: absolute;
  width: 25%;
  top: 70vw;
  left: 12vw;
  z-index: 2;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  color: #9A9A9A;
  margin: auto;
  padding: 0 2vw;
}

.an-title-p {
  font-size: 7vw;
  font-weight: bold;
  line-height: 6.5vw;
}

.an-sub-title {
  font-size: 3vw;
}

.an-button {
  color: #9A9A9A;
  border: solid #9A9A9A 1px;
  border-radius: 0.7vw;
  font-size: 1.2vw;
  margin-top: 4vw;
  padding: 0.5vw 3vw;
  width: 60%;
}

@media (max-width: 375px) {


  .first-section {
    flex-direction: column;
  }

  .an-img-s {
    position: relative;
    width: 25%;
    top: 0;
    left: 0;
    z-index: 1;
  }


}